<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog-test/">Blog-Test</a>

  <h1>About Me</h1>

  <p>
    Hi! I'm Seongbae Park (just call me Seongbae), an AI Engineer passionate
    about Computer Vision.
  </p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>
</body>
